<h1>Employees</h1>

<table>
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>DoB</th>
            <th>Job title</th>
        </tr>
    </thead>
    <tbody>
        <% employees.each do |employee| %>
            <tr>
                <td><%= employee.first_name %></td>
                <td><%= employee.last_name %></td>
                <td><%= employee.dob.strftime("%m/%d/%Y") %></td>
                <td><%= employee.job_title %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<p><%= link_to 'New Employee', new_employee_path %></p>
