<h1><%= animal_shelter.name %></h1>

<ul>
    <li><%= animal_shelter.address %></li>
    <li><%= animal_shelter.email %></li>
    <li><%= animal_shelter.phone %></li>
</ul>

<h2>Dogs</h2>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Sex</th>
            <th>Size</th>
            <th>Breed</th>
        </tr>
    </thead>
    <tbody>
        <!-- COMPLETE THIS PART! -->
    </tbody>
</table>

<p>
    <%= link_to 'Home', animal_shelters_path %>
</p>