<!DOCTYPE html>
<html>
  <head>
    <title>SkillsTestProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      table {
        border-collapse: collapse;
      }

      table, th, td {
        border: 1px solid black;
      }

      th, td {
        padding: 0 2rem;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
